@import url("https://fonts.googleapis.com/css?family=Material+Icons|Manuale&display=swap");

/* Dark theme */
html[data-theme='dark'] {
    --serif-font: "Manuale";
    --color-primary: #F8F9FC;
    --color-secondary: #D6D9E0;
    --c-higha: (39, 121, 246, .75);
    --c-high: #445FCF;
    --c-high-light:   rgba(39, 121, 246, .5);
    --color-selected: #393E4B;
    --color-background: #23262E;
}
/* Light theme */
/* @media (prefers-color-scheme: light) { */
 html[data-theme='light'] {
        --serif-font: "Manuale";
        --color-primary: rgba(0,0,0,0.75);
        --color-secondary: rgba(0,0,0,0.6);
        --c-high: rgba(39, 121, 246, .25);
        --c-high-light:   rgba(39, 121, 246, .1);
        --color-background: #ffffff;
        --color-selected: #dddddd;

    }
/* } */

body {
    padding : 0rem 1.5rem 1.5rem;
    line-height: 1.6;
    font-size: 18px;
    font-family: var(--serif-font);
    background: var(--color-background);
}


a {
    text-decoration: none;
    color: var(--color-primary);
}

p>a:not([class]), li>a:not([class]) {
    text-decoration: none;
    color: var(--color-primary);
    background: linear-gradient( var(--c-high-light), var(--c-high));
    background-size: 100% 15%;
    background-repeat: no-repeat;
    background-position: 0% 100%;

}
@media (prefers-color-scheme: lightl) {
    p>a:not([class]), li>a:not([class]) {
        text-decoration: none;
        color: var(--color-primary);
        background: linear-gradient( var(--c-high-light), var(--c-high));
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-position: 0% 90%;

    }
}
p>a:not([class]), li>a:not([class]):visited {
    color: var(--color-primary);
}
@media only screen and (max-width: 520px) {
  :root {
      font-size: 17px;
  }
}

.archive-link {
    transition: color 300ms ease-out;
    display: flex;
    align-items: baseline;
    position: relative;
}
.archive-link:hover {
    color: var(--color-secondary);
}

.archive-link-current {
    font-style : italic;
}
.header {
    grid-area: editor-toolbar;
}

.main {
  grid-area: main-content;
  max-width: inherit;
}

.title {
    font-family: var(--serif-font);
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-primary);
}

.ProseMirror p, h1, h2, h3, h4, h5, h6,
.content {
    font-family: var(--serif-font);
    color: var(--color-primary);
    line-height: 2rem;
    overflow-wrap: break-word;
}

.ProseMirror p {
    color: var(--color-secondary)
}
.content {
    padding-top: 5rem;
}

.entries {
  grid-area: entries;
  padding-top: 6rem;
}

.entries-filter {
    font-family: var(--serif-font);
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    color: var(--color-primary);
}
.entries-list {
    font-family: var(--serif-font);
    color: var(--color-primary);
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.toolbar,
.footer{
    font-family: var(--serif-font);
    color: var(--color-secondary);
    font-size: 0.875rem;
    text-align: center;
}

.footer {
    grid-area: footer;
    margin-bottom: 10px;
}

.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "editor-toolbar"
  "main-content"
  "entries"
  "footer";
  grid-gap: 50px;
  max-width: 40rem;
  margin: auto;
}

iframe {
    border-width: 0px;
    width: 100%;
}

/**
Dropdown menu
 */

.toolbar {
    right: 21rem;
    position: absolute;
    top: 3.6rem;
    z-index: 11;
}
.dropdown {
    float: right;
    right: 0;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /*color: white;*/
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.material-icons {
    color: var(--color-primary);
}

.navbar a:hover, .dropdown:hover .dropbtn {
    /*background-color: red;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 15px;
    top: 38px;
}

.dropdown-content a {
    float: none;
    /*color: black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
        background-color: var(--color-selected);

    /* background-color: #ddd; 
    */
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown { display:none; }
