<!doctype html>
<html data-theme="dark">
    <meta charset="utf8" />

    <head>
        <link rel="stylesheet" href="/css/main.css" />

        <script type="text/javascript" async src="/js/main.js"></script>
        <script type="text/javascript" async src="/js/entries.js"></script>
        <link rel="stylesheet" href="https://prosemirror.net/css/editor.css" />
        <link rel="stylesheet" href="/css/editor.css" />
        <script src="https://prosemirror.net/examples/prosemirror.js"></script>
        <script src="/js/require-pm.js"></script>
        <script src="/js/pm.js" defer></script>
    </head>

    <body>
        <!-- <base href="https://prosemirror.net/"> -->
        <div class="grid-container">
            <footer class="footer">
                <nav id="footer-nav">
                    <a href="about-me.html">About me</a>
                    <a href="/feed.json">JSON feed</a>
                    <a href="#" onclick="toggleTheme()">Theme: Ligth / Dark</a>
                </nav>
            </footer>
            <header class="header">
                <div class="toolbar">
                    <button
                        class="action-button"
                        onClick="saveDoc();return false;"
                    >
                        Save
                    </button>
                    <button
                        class="action-button"
                        onClick="clearSession();return true"
                    >
                        Cancel
                    </button>
                </div>
            </header>
            <main class="main" data-id="${id}">
                <div id="editor" style="margin-bottom: -23px"></div>
                <div class="big-title">${title}</div>

                <div style="display: none" id="content" class="content">
                    ${content}
                </div>
            </main>
            <div class="entries">
                <div id="entries-filter" class="entries-filter">
                    Other entries
                </div>
                <div id="entries-list" class="entries-list">
                    <iframe
                        src="/entries.html"
                        onload="resizeIframe(this)"
                        scrolling="no"
                        frameborder="0"
                    ></iframe>
                </div>
            </div>
        </div>
    </body>
    <script>
        (function setTheme() {
            const currentTheme = localStorage.getItem("theme") || "dark";
            document.querySelector("html").dataset.theme = currentTheme;
        })();
    </script>
</html>
