<html data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/main.css" />
        <script type="text/javascript" async src="/js/entries.js"></script>
        <script>
            (function setTheme() {
                const currentTheme = localStorage.getItem("theme") || "dark";
                document.querySelector("html").dataset.theme = currentTheme;
            })();
        </script>
    </head>
    <div id="entries-list" class="entries-list">
        <ul>
            ${items.reduce((acc, i) => acc + `
            <li>
                <a
                    href="${i.url.substring(i.url.lastIndexOf('/'))}"
                    target="_parent"
                    class="archive-link"
                >
                    ${i.title}
                </a>
            </li>
            `, '')}
        </ul>
    </div>
</html>
