:root {
    /* --serif-font: "Manuale"; */
}

#editor, .editor {
  background-color: var(--color-background);
  background-clip: padding-box;
  border-radius: 4px;
  border: 0px ;
  padding: 5px 0;
  margin-bottom: 23px;
}
.ProseMirror-menubar {
    border: 0px ;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.ProseMirror blockquote {
    padding-left: 1em;
    border-left: 3px solid var(--color-selected);
    margin-left: 0;
    margin-right: 0;
}