:root {
    --sans-font: "ABeeZee";
    --serif-font: "Libre Baskerville";
    --color-primary: rgba(0,0,0,0.85);
    --color-secondary: rgba(0,0,0,0.65);

}

.toolbar {
    grid-area: editor-toolbar;
}
.title {
    font-family: var(--sans-font);
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(--color-primary);
    grid-area: title;
}

.content {
    font-family: var(--serif-font);
    color: rgba(--color-secondary);
    line-height: 1.5rem;
    grid-area: content;
}


.entries-filter {
    font-family: var(--sans-font);
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgba(--color-primary);
    grid-area: entries-filter;
}
.entries-list {
    font-family: var(--serif-font);
    color: rgba(--color-primary);
    line-height: 2rem;
    grid-area: entries-list;
}

.footer{
    font-family: var(--sans-font);
    font-size: 0.875rem;
    text-align: center;
    grid-area: footer;
}



html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container * {
  /* border: 1px solid red; */
  position: relative;
}

.grid-container *::after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 40rem auto;
  grid-template-rows: 2em 4em auto 4em auto 1em;
  grid-template-areas:
    ". editor-toolbar ."
    ". title ."
    ". content ."
    ". entries-filter ."
    ". entries-list ."
    ". footer .";
}



