:root {
    /* --serif-font: "Manuale"; */
}

#editor,
.editor {
    color: var(--color-primary);
    background-color: #00000000;
    background-clip: padding-box;
    border-radius: 4px;
    border: 0px;
    padding: 5px 0;
    margin: 0 auto;
    max-width: 40rem;
    width: 100%;
}
.ProseMirror-menubar {
    font-size: 18px;
    border: 0px;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.ProseMirror blockquote {
    padding-left: 1em;
    border-left: 3px solid var(--color-selected);
    margin-left: 0;
    margin-right: 0;
}
